/*Responsive*/
@media(max-width:991px){
  
  body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  .logo {
    position: relative;
    margin-top: 19px;
    margin-left: -18px;
    width: 199px;
    height: 31px;
    
  }
    .menu-btn{
      font-size: 27px;
      margin-top: 30px;
      margin-left: 3em;
      display: block;
      z-index: 999;
      cursor: pointer;
    }
    /* navbar area*/
    .navbar .menu{
      position:absolute;
      height:10%;
      width:100%;
      left:-100%;
      top:16%;
      text-align: center;
      border-radius:50px;
      transition: all 0.3s ease;
    }
    .navbar .menu.show{
     left: 0;
    }
    .navbar .menu li {
    background-color: #fff;
    list-style: none;
    display: block;
    margin-top: 22px;
    border-radius: 32px;
    padding: 1px 6px;
    margin-left: 25px;
    }
    .navbar .menu li a{
     display: inline-block;
     margin:  10px 0;
     font-size: 20px;
  }
  /* main text*/

  .container .max-width .text-1 {
    margin-top: 14rem;
    margin-left: -6%;
    font-size: 27px;
    width: 100rem;
  }
  .text-para{
    
    margin: auto;
    text-align: center;
    margin-top:10%;
    font-size: 23px;
    margin-left:10%;
    width:70%;
  }
  .join-waitlist {
    font-size: 11px;
    margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-top: auto;
      margin-left: auto;
      margin-left: 31%;
    padding:15px;
    margin-top: 10%;
    width: 30%;
  }
  /* what matters to*/
  .main-text{
    font-size: 30px;
    letter-spacing: -2.30px;
    margin-left: -6px;
    width: 100%;
  }
  .main-box-text {
  display: block;
  justify-content: space-between;
   margin-left:10%;
  }

  .box-1 p,.box-2 p,
  .box-3 p{
    display: inline-block;
    font-size: 16px;
  }
  .box-1 h4,.box-2 h4,.box-3 h4{
    margin: auto;
    font-size: 26px;
  }
  .box-1,.box-2,.box-3 {
    margin-left: 10%;
    width:70%;
   
  }
  /* divers area*/
  .diverse {
    text-align: center;
    margin-left: -8%;
    font-size: 200%;
    width: 100%;
  }
  .text-interview p{
   width: 100%;
   margin-left: -10%;
   text-align:center;
   
    
  }
  /* practise area*/
  .main-practiseText{
    font-size: 20px;
    margin-left: 10px;
    width: 100%;
}
.main-practiseTex h1{
  margin: auto;
}
  .common-1,.common-2,.common-3,.common-4{
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
  
  }
  .inner-btn{
    justify-content: space-around;
     display: grid;
      gap: 3%;
      grid-template-rows: auto auto;
      grid-template-columns: 150px 150px;
      
      
  }
  .m-text h2 {
    
    font-size: 23px;
    width: 100%;
    letter-spacing:-1px;
    padding-bottom: 10%;
}
.custom-btn {
  width: 31%;
  padding:12px;
  text-align: center;
  margin-left: 34%;
  border-radius: 25px;
  margin-top: -5%;
}

.big-img{
  margin-left: 35px;
  margin-top: 25%;
}
hr{
  margin-left:30px;
  opacity: 0.5;
}
footer {
 
  margin-left:10px;

  
}
.footer-text{
visibility: hidden;
}
.icon {
  margin-left: 65%;
  margin-top: -11%;
}

}
  

  